# Python virtual environment
venv/
venv3.12/
myenv/
# Environment variables
.env
# Editor history
.history/

.DS_Store

*.mp3
*.wav
*.ogg

__pycache__/

rnnoise/
denoiser/
測試程式碼(超級亂)/

assistant_functions.py