# Python virtual environment
venv/
venv3.12/
myenv/
# Environment variables
.env
# Editor history
.history/

.DS_Store

*.mp3
*.wav
*.ogg

__pycache__/

rnnoise/
denoiser/
測試程式碼(超級亂)/

assistant_functions.py
test_call_google_sheet.py
test_call_reminder.py
test_changing_mp3.py
test_serch_youtube_video.py

credentials.json